.js-calendar-graph-svg {
  float: right;
  font-size: 12px;
  fill: #9E9E9E;
}

#legend {
  color: #424242;
  padding: 12px;
}

#legend ul {
  display: inline-block;
  margin: 0 5px 0 3px;
  padding: 0;
}

#legend ul li {
  margin-left: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

#github {
  padding: 24px 28px 16px;
}

#github h3 {
  color: #424242;
  padding-top: 12px;
}

#github i {
  padding-right: 8px;
}

#github b {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.box.flair {
  padding: 28px 36px;
}

.flair h2, .flair h3 {
  padding-top: 16px;
  color: #424242;
}

.flair > * > i {
  padding-right: 8px;
}

.flair b i {
  font-size: 11px;
  vertical-align: text-top;
  line-height: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 960px) {
  #github {
    padding: 20px;
  }
  .box.flair {
    padding: 20px 28px;
  }
}

@media screen and (max-width: 600px) {
  .box.flair {
    margin: 0 0 12px !important;
  }
}
