#photo, #logo {
  border: solid #4F4D4E 2px;
  background-color: #4F4D4E;
}

#photo {
  box-shadow: 0 0 0 1px #4F4D4E inset;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#logo {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 80px;
  height: 80px;
}

#intro a {
  min-width: 0;
  margin: 20px 4px;
  border-radius: 25px;
  color: #FAFAFA;
  background-color: #DB236B;
}

#intro a[target] {
  width: 36px;
}

#bio {
  margin: 0 8px;
}

#bio ul {
  padding-left: 26px;
}

#bio ul ul {
  padding-left: 16px;
}

@media screen and (min-width: 960px) {
  #bio {
    margin-left: 32px;
    height: 100%;
  }

  #intro a {
    margin-bottom: 0;
  }
}
