#photo, #logo {
  border: solid #4F4D4E 2px;
  background-color: #4F4D4E;
}

#photo {
  box-shadow: 0 0 0 1px #4F4D4E inset;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#logo {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 80px;
  height: 80px;
}

#intro a {
  min-width: 0;
  margin: 20px 4px;
  border-radius: 25px;
  color: #FAFAFA;
  background-color: #DB236B;
}

#intro a[target] {
  width: 36px;
}

#bio {
  height: 50vh;
  padding: 0 8px;
}

@media screen and (min-width: 960px) {
  #intro a {
    margin-bottom: 0;
  }

  #bio {
    height: 100%;
    padding-left: 36px;
  }
}

#bio > div {
  position: relative;
  height: 100%;
}

.paper {
  position: absolute;
  width: calc(33.3% - 8px);
  height: calc(33.3% - 8px);
}

.paper > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.paper p {
  color: #616161;
  font-size: 20px;
  font-weight: 500;
}

.paper i {
  width: 100%;
  color: #616161;
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}