#photo, #logo {
  border: solid #757575 2px;
  background-color: #757575;
}

#photo {
  box-shadow: 0 0 0 1px #757575 inset;
  width: 320px;
  height: 320px;
}

#logo {
  position: absolute;
  left: 72px;
  bottom: 4px;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 960px) {
  #bio {
    margin-left: 32px;
    height: 100%;
  }
}
