body {
  background-color: #ECEFF1;
  position: relative;
  margin: 0;
}

body::before {
  background: url(app/pattern.jpg);
  opacity: .05;
  z-index: -1;
  content: "";
}

body::before, #footer > :first-child {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#footer * {
  color: #FAFAFA !important;
}

b {
  font-weight: 500;
}

.font {
  font-family: 'Quicksand';
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
}

.box {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 8px;
  }
}

#toolbar {
  justify-content: center;
  padding: 0;
  margin: 8px auto;
}

@media screen and (max-width: 600px) {
  #toolbar {
    flex-flow: row wrap;
    margin-bottom: 16px;
  }

  #toolbar button {
    margin: 8px 2px;
  }
}
