body {
  background-color: #ECEFF1;
  margin: 0;
}

b {
  font-weight: 500;
}

.font {
  font-family: 'Quicksand';
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
}

.container.box {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 8px;
  }
}

#toolbar {
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 600px) {
  #toolbar {
    flex-flow: row wrap;
    margin: 8px 0 16px;
  }

  #toolbar button {
    margin: 8px 2px;
  }
}
