.modal-image {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-image:focus {
  outline: 0;
}

.collapse {
  position: absolute;
  bottom: 0;
  background-color: white;
  max-height: 100%;
  width: 100%;
}