.flair {
  padding: 28px 36px;
}

.flair h6 {
  padding-top: 12px;
  color: #424242;
}

.flair i {
  padding-right: 8px;
}

.flair b i {
  font-size: 11px;
  vertical-align: text-top;
  line-height: 20px;
  padding: 0 0 0 8px;
}

@media screen and (max-width: 960px) {
  .flair {
    padding: 20px 28px;
  }
}
