.year {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 54px;
  width: 120px;
  padding: 8px 12px;
  border-right: 1px solid #CFD8DC;
  border-left: 1px solid #CFD8DC;
  box-shadow: 0px -.5px 0px #EEE inset;
  background-color: white;
}

.year.start {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CFD8DC;
  padding-top: 16px;
}

.year.end {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #CFD8DC;
  padding-bottom: 16px;
}

.year .state {
  flex: 1;
  color: #9E9E9E;
}

.year.start .state,
.year.end .state {
  color: #424242;
}

.year .city {
  color: #424242;
  font-weight: 500;
  right: 180%;
  top: calc(50% - 24px);
  position: absolute;
  border: 1px solid #CFD8DC;
  background-color: white;
  padding: 12px 20px;
  border-radius: 25px;
}

.year .city-vline {
  position: absolute;
  right: 100%;
  top: calc(50% - 2px);
  width: 80%;
  height: 4px;
  padding-left: 2px;
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
  background-color: white;
}

.year .city-vline i {
  position: absolute;
  right: -6px;
  top: -5px;
  width: 12px;
  height: 12px;
  border: 1px solid #CFD8DC;
  border-radius: 25px;
  background-color: white;
}

.year .number {
  background-color: #37474F;
  color: #FAFAFA;
  position: absolute;
  top: 0;
  right: 100%;
  padding: 1px 8px 2px;
  margin-right: 12px;
  border-radius: 8px;
}

.year .number i {
  position: absolute;
  right: -8px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #37474F;
}

.year .last.number i,
.year .last.number {
  top: unset;
  bottom: 0;
}

.year .last.number i {
  border-top: unset;
  border-bottom: 8px solid #37474F;
}

.year .institute {
  position: absolute;
  margin-left: 12px;
  left: 100%;
  width: 5px;
  height: 100%;
  background-color: #37474F;
}

.year .institute.end {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -8px;
}

.year .institute.start {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 8px;
}

.year .institute.start.end {
  height: calc(100% - 16px);
  margin-top: 4px;
}