.year {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 54px;
  width: 120px;
  padding: 8px 12px;
  border-right: 1px solid #CFD8DC;
  border-left: 1px solid #CFD8DC;
  box-shadow: 0px -.5px 0px #EEE inset;
  background-color: white;
}

.year.end {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CFD8DC;
  padding: 12px;
}

.year.start {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #CFD8DC;
  padding: 12px;
}

.city, .city-vline,
.city-vline i,
.year .number {
  position: absolute;
  border: 1px solid #CFD8DC;
  background-color: white;
  border-radius: 25px;
}

.year .city {
  color: #424242;
  font-weight: 500;
  right: 180%;
  bottom: 0;
  padding: 12px 20px;
}

.city-vline {
  right: 100%;
  bottom: 22px;
  width: 80%;
  height: 4px;
  padding-left: 2px;
}

.city-vline i {
  right: -7px;
  top: -5px;
  width: 12px;
  height: 12px;
}

.year .number {
  position: absolute;
  right: 124%;
  bottom: 12px;
  padding: 1px 8px 2px;
  font-weight: 500;
}

.inst-box,
.inst-sign,
.event > i {
  background-color: #37474F;
  position: absolute;
  left: 100%;
  top: 0;
}

.inst-box {
  padding: 7px 12px 9px;
  margin: 8px 0 0 36px;
  border-radius: 8px;
}

.inst-box > i {
  position: absolute;
  top: 10px;
  right: 100%;
  border-right: 10px solid #37474F;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.inst-box i.fa-school {
  font-size: 13px;
}

.inst-sign {
  margin-left: 12px;
  width: 5px;
  height: 100%;
}

.inst-sign.start {
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
}

.inst-sign.end {
  border-radius: 8px 8px 0 0;
  margin-top: 8px;
}

.inst-sign.start.end {
  height: calc(100% - 16px);
  border-radius: 8px;
}

.event {
  background-color: #FA5E35;
  position: absolute;
  right: 170%;
  top: 40%;
  width: 116%;
  padding: 8px 12px;
  border-radius: 2px;
}

.event.up {
  top: unset;
  bottom: 40%;
}

.event > i {
  margin-left: -4px;
  border-left: 72px solid #FA5E35;
  border-bottom: 16px solid transparent;
  background-color: transparent;
}

.event.up > i {
  border-top: 16px solid transparent;
  border-bottom: unset;
  top: unset;
  bottom: 0;
}